<div id="<%= dom_id booking %>">
  <p>
    <strong>Aptdate:</strong>
    <%= booking.aptdate %>
  </p>

  <p>
    <strong>Apttime:</strong>
    <%= booking.apttime %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= booking.description %>
  </p>

</div>
